body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display:flex;
    
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    color: aliceblue;
}


img {
    max-width: 25%;
    max-height: 25%;
}

.title {
    display: flex;
    font-size: 32px;
    background-color: #3f42ff;
}
